.Header {
  background: rgba(33, 33, 33, .9);
  display: flex;
  height: 85px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
  justify-content: center;
  align-content: center;
  &__mobile-area{
    text-align: center;
    margin-top:15px;
  }
  &__padding{
    height: 85px;
    width: 100%;
    display: block;
    background-color: #000;
  }
  @include respond-above(md) {
    height: 85px;
  }
  @include respond-below(sm){
    flex-direction: column;

  }
}


.Header__right,
.Logo {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-button {
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.Menu {
  padding-left: 32px;
  a{
    margin-right: 10px;
    &:last-child{
      margin-right:0;
    }
  }
}