.Header {
  background: rgba(33, 33, 33, .9);
  display: flex;
  height: 85px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
  justify-content: center;
  align-content: center;
  &__mobile-area{
    text-align: center;
    margin-top:15px;
  }
  &__padding{
    height: 85px;
    width: 100%;
    display: block;
    background-color: #000;
  }
  @include respond-above(md) {
    height: 85px;
  }
  @include respond-below(sm){
    flex-direction: column;

  }
}


.Header__right,
.Logo {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-button {
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.Menu {
  padding-left: 32px;
  a{
    margin-right: 10px;
    &:last-child{
      margin-right:0;
    }
  }
}

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
   z-index:2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #fff;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 16px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 20px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left:0;
  transform: rotate(90deg);
  opacity:0;
  width:0;
}

#menu{
  z-index:1;
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:0;
  height:0;
  visibility: hidden;
  opacity: 0;
  text-align:center;
  padding-top:20px;
  transition: all 0.3s ease-in-out;
  
}

#menu.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:100px;
  background:rgba(0,0,0,0.5);
}

#menu li{
  list-style:none;
}
#menu a{
  color:#fff;
  display:block;
  font-size: 32px;
  margin-bottom:30px;
  text-decoration:none;
}