.NotFoundPage{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top:72px;
    margin-bottom: 72px;
    h1{
        color:white;
        margin-top:36px;
    }
    p{
        margin-bottom: 36px;
    }
}