button {
    &.button-pulse {
        background: $altColor;
    border: 2px solid $altColor;
    width: auto;
    height: auto;
    color: white;
    letter-spacing: 1px;
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
    padding: 15px 30px;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(201, 8, 95, 0.8), 0 0 0 0 rgba(201, 8, 95, 0.5)
    }

    40% {
        box-shadow: 0 0 0 70px rgba(201, 8, 95, 0), 0 0 0 5px rgba(201, 8, 95, 0)
    }

    80% {
        box-shadow: 0 0 0 70px rgba(201, 8, 95, 0), 0 0 0 5px rgba(201, 8, 95, 0)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(201, 8, 95, 0), 0 0 0 15px rgba(201, 8, 95, 0)
    }
}